@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.display-flex{
    display: flex;
}
.brand{
font-weight: 700;
font-size: 2.8rem;
}
.navbar ul li{
    list-style: none;
    margin-right: 30px;
}
.navbar ul li a{
    text-decoration: none;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.dark2{
    color: #424242;
}
.background-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-content{
    max-width: 865px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.Primary-button{
    padding: 20px 25px;
    border: none;
    color: white;
    background-color: #FF900E;
    border-radius: 8px;
    font-size: 1.25rem;
}

.teams{
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.teams{
    margin-top: 130px;
}
.our-features{
    margin-left: 73px;
    max-width: 537px;
}
#quicklist{
    font-weight: 500;
    font-size: 2.8rem;
    color: #727272;
}
#ofour{
    font-weight: 700;
    font-size: 2.8rem;
 } 
#features{
        font-weight: 700;
        font-size: 2.8rem;
        color: #FF900E;
    }

    .features-description{
        color: #727272;
    }

    .team-image-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 24px;
    }
.banner-image{
    width: 100%;
}

@media screen and (max-width: 576px){
    .navbar, .navbar li,.teams{
    flex-direction: column;
}
.team-image-container{
    grid-template-columns: repeat(1,1fr);
}
.our-features{
margin-left: 20px;
}
}

@media screen and (min-width: 576px) and (max-width: 992px){
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
}
