@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.display-flex{
    display: flex;
}
.brand{
font-weight: 700;
font-size: 2.8rem;
}
.navbar ul li{
    list-style: none;
    margin-right: 30px;
}
.navbar ul li a{
    text-decoration: none;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.dark2{
    color: #424242;
}
.background-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-content{
    max-width: 865px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.Primary-button{
    padding: 20px 25px;
    border: none;
    color: white;
    background-color: #FF900E;
    border-radius: 8px;
    font-size: 1.25rem;
}
.banner-image{
    width: 100%;
}

@media screen and (max-width: 576px){
    .navbar, .navbar li{
    flex-direction: column;
}
}
