@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.display-flex{
    display: flex;
}
.brand{
font-weight: 700;
font-size: 2.8rem;
}
.navbar ul li{
    list-style: none;
    margin-right: 30px;
}
.navbar ul li a{
    text-decoration: none;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.dark2{
    color: #424242;
}
.background-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-content{
    max-width: 865px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.Primary-button{
    padding: 20px 25px;
    border: none;
    color: white;
    background-color: #FF900E;
    border-radius: 8px;
    font-size: 1.25rem;
}

.teams{
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.teams{
    margin-top: 130px;
}
.our-features{
    margin-left: 73px;
    max-width: 537px;
}
#quicklist{
    font-weight: 500;
    font-size: 2.8rem;
    color: #727272;
}
#ofour{
    font-weight: 700;
    font-size: 2.8rem;
 } 
#features{
        font-weight: 700;
        font-size: 2.8rem;
        color: #FF900E;
    }

    .features-description{
        color: #727272;
    }

    .team-image-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 24px;
    }
.banner-image{
    width: 100%;
}
.features{
      max-width: 1440px;
    margin: 130px auto 0;
    gap: 100px;
}

#features-section-title{
border-left: 5px solid #FF900E;
padding-left: 20px ;
}

.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
}
.feature-card{
       padding: 30px;
       box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
       margin-bottom: 20px;
       border-radius: 8px;
}

.featured-architect img{
    width: 100%;
}

#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}

#experience-year{
    font-size: 4rem;
    font-weight: 700;
}
@media screen and (max-width: 576px){
    .navbar, 
    .navbar li,
    .teams,
    .features{
    flex-direction: column;
}
.team-image-container{
    grid-template-columns: repeat(1,1fr);
}
.our-features{
margin-left: 20px;
}

#experience-badge{
    margin-top: 20px;
    margin-left: 20px;
}
}
.section-title{
    font-weight: 700;
    font-size: 2.8rem;
}
.SomeFacts{
    max-width: 1440px;
    margin: 130px auto 0;
}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
}

.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.facts-description{
max-width: 540px;
}

.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
     max-width: 1440px;
    margin: 130px auto 0;
}
.sponsor-companies img{
    filter: grayscale(100%);
}

@media screen and (min-width: 576px) and (max-width: 992px){
    .teams, .features{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
    .sponsor-companies{
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
        justify-items: center;
    }
    #experience-badge{
    margin-top: 20px;
    margin-left: 20px;
}
}



@media screen and (max-width: 576px){
    .fact-container,.sponsor-companies{
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 24px;
    }
    .SomeFacts{
        text-align: center;
    }
}

